p em{
	font-weight:bold;	/* em inside a paragraph becomes bold */
	color:purple;	/* em inside a paragraph gets blue color */
	font-variant : small-caps; /* font variant is set to small-caps for em inside paragraph */
	}

.hobbies-list{
	list-style-type:square;
}

.courses-list{
	list-style-image:url(./arrow.gif);  /*set an image using list-style-image */
	list-style-type:square;             /* list-style-type is set as a good practice so that if image in list-style-image is not present then it can be used */
}

h3{
	font-size:1.45em;
}

.class-para1{
	color:green;    /* para1 in green color */
	font-family: Arial, Helvetica, sans-serif; /* font-family */
			}
	
.class-para2{
	color:blue;		/* para2 in blue color */
	font-style:italic; /*style has bene set to italic for one of the paragraph*/
		}
	
a{
	text-decoration:none;	
}
	
a:link{
	color:pink;    	/* link in pink color */
	font-family: “Courier New”, Courier, monospace;
	font-weight:bold;
	}
	
a:visited{ 
	color:brown;	/* if the link has been visited , then show it in brown color */
	font-family:Arial;
}

a:hover,a:focus{
	color:magenta; 	/* on bringing mouse over the link, the color must change to magenta */
	font-family:Tahoma;
	background-color:yellow;
}

a:active{
	color:green;	
	font-family: Arial;
}