p {
	color:purple;	/* em inside a paragraph gets blue color */
	text-transform:capitalize;
	}
	
.para1{
	line-height:1.2em;
	text-align:left; 
}

.para2{
	line-height:1.0em;
	text-align:left;
	
}

.para3{
	line-height:0.8em;
	text-align:left;
	
}

h1{
	color:purple;   /* text color set to purple */
	text-decoration:underline;
}

h2{
	color:green;    /* text color set to green */
	text-decoration:underline;
	
}
h3{
	color:orange;     /* text color set to ornage */
	font-size:1.45em;
	text-decoration:underline;
}

.class-para1{
	color:black;
	word-spacing:0.2em;
	letter-spacing:0.01em;
	font-family:Arial;
}
	
.class-para2{
	color:black;
	text-indent:2em;      
}
	
a{
	text-decoration:none;	
}
	
a:link{
	color:pink;    	/* link in pink color */
	font-family: “Courier New”, Courier, monospace;
	font-weight:bold;
	}
	
a:visited{ 
	color:brown;	/* if the link has been visited , then show it in brown color */
	font-family:Arial;
}

a:hover,a:focus{
	color:magenta; 	/* on bringing mouse over the link, the color must change to magenta */
	font-family:Tahoma;
	background-color:yellow;
}

a:active{
	color:green;	
	font-family: Arial;
}