
.class-para1{
	font: normal 100%/1.5em Arial, Helvetica, sans-serif ; 
	border:2em solid #366;
	background:yellow url(images/Calpoly_T.jpg) no-repeat top left;
	margin:1em 1em 1em 1em;
	padding:5px 5px 5px 100px;
	}
	
.class-para2{
	font: bold 100%/1.5em Arial, Helvetica, sans-serif ; 
	border:2em groove #366;
	background:pink url(images/Calpoly_T.jpg) no-repeat left;
	margin:1em 1em 1em 1em;
	padding:5px 5px 5px 100px;
	}
	
	
.class-para3{
	font: italic 100%/1.5em Verdana, Arial, Helvetica, sans-serif ; 
	border:0.2em dashed #658;
	background:grey url(images/rosevase.gif) no-repeat top left;
	margin:2em 2em 2em 2em;
	padding:15px 15px 15px 200px;
}

