
.class-para1{
	font: normal 100%/1.5em Arial, Helvetica, sans-serif ; 
	border:2em solid #366;
	background:yellow url(images/rosemedium.gif) no-repeat top left;
	margin:1em 1em 1em 1em;
	padding:25px 25px 25px 200px;
	width:50em;
	float:left;
	}
	
.class-para2{
	font: bold 100%/1.5em Arial, Helvetica, sans-serif ; 
	background:pink;
	margin:1em 1em 1em 1em;
	padding:5px 5px 5px 100px;
	}
	
p{
	font:normal 100%/1.5em Arial, Helvetica, sans-serif ; 
	
}	

img{
	border:0.2em dashed #658;
	padding:15px 15px 15px 15px;
	float:left;
	margin:5px 10px;
}

