p em{
	font-weight:bold;	/* em inside a paragraph becomes bold */
	color:blue;			/* em inside a paragraph gets blue color */
	}

.class-para1{
	color:green;    /* para1 in green color */
			}
	
.class-para2{
	color:blue;		/* para2 in blue color */
		}
	
a{
	text-decoration:none;	
}
	
a:link{
	color:pink;    	/* link in pink color */
	font-family:Verdana;
	}
	
a:visited{ 
	color:brown;	/* if the link has been visited , then show it in brown color */
	font-family:Arial;
}

a:hover,a:focus{
	color:magenta; 	/* on bringing mouse over the link, the color must change to magenta */
	font-family:Tahoma;
	background-color:yellow;
}

a:active{
	color:green;	
	font-family: Arial;
}