		body{
			background-image:url(./image.jpg);
			background-size:cover;
		}
        .heading h1{
            color:white;
            padding-left:20px;
			text-align:center;
			
        }
		
		h3{
			color:white;
            padding-left:20px;
			
        }
		
		#label1{
			color:white;
		}
		
        .heading1{
            color:white;
            padding-left:40px;
        }
        .label{
			font-weight:bold;
            width:30%;
            text-align: left;
            display: inline-block;
        }
        .input{
            width:30%;
            text-align: left;
        }
        .output{
            display:block;
            width:70%;
            float:right;
            text-align: left;
        }
        .label-input{
            padding: 10px;
        }
        .errors{
            color:red;
            text-align: right;
        }

        .sponsors{
            display: inline-block;
            width:60%;
            text-align: left;
        }

        .graph{
            display:inline-block;
            float:right;

        }