
.class-para1{
	color:#000;
	font-family: Arial, Helvetica, sans-serif; 
	border-style:solid;
	border-color:#366;
	border-width:1px;
	background-color:yellow;
	background-image:url(images/Calpoly_T.jpg);
	background-repeat:no-repeat;
	padding:5px;
	padding-left:100px;
	margin:1em;
			}
	
.class-para2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-style:dashed;
	border-color:#fff;
	border-width:10px;
	background-color:pink;
		}
	
	
.class-para3{
font-family: Verdana, Arial, Helvetica, sans-serif;
border-style:double;
border-color:#658;
border-width:8px;
background-color:grey;
background-image:url(images/rosevase.gif);
background-repeat:no-repeat;
padding:15px;
padding-left:200px;
margin:1em;
	}
